body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
h1{text-align: center;
}
figure{
  align-items: center;
}
nav.a{
  padding:10px;
  text-align: center;
}
figcaption{
  font-size: smaller;
  text-align: center;
}
p#featured-property{
width: 800px;
text-align: center;
line-height: 0.1cm;
}
div#details{
float: left;
background-color: red;
text-align: center;
width: 25%;
}